
<!--==================== FOOTER ====================-->
    <footer class="footer">
        <div class="footer__container container grid">
            
            <span class="footer__copy">&#169; All Rights Reserved By Turazdev</span>

        </div>
    </footer>

