
<main class="main">

    {{!-- =========== FORM ======= --}}

    <section class="row-form">

        <form class="addform" id="addform">

            <h1 class="header-form">
                PANEL
            </h1>
            
            <div class="box-form">
                <input type="password" name="senha" id="senha"
                placeholder="Senha"/>
            </div>

            <div class="box-form-buttons">
                <button type="submit" class="btn btn-add">ENTER</button>
            </div>
            
        </form>

    </section>

</main>


<script type="module" src="/js/user/login.js"></script>
