
{{>home/header }}

<main class="main">

    <!--==================== PROJECTO ====================-->
    {{>pages/_projecto_home }}
    
</main>

<!--==================== FOOTER ====================-->
{{>home/footer }}
    

    <!--=============== SCROLLREVEAL ===============-->
    <script src="/js/scrollreveal.min.js"></script>

    <!--=============== SWIPER JS ===============-->
    <script src="/js/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="/js/mainPageOficial.js"></script>

