
<section class="contact section" id="contacto">

    <h2 class="section__title">
        Contacto
    </h2>

    <div class="box-form">

        <div class="findme">
            <h4>Find Me</h4>
            <p>Email: turazdev@gmail.com</p>
            <p>Tel: +258 86 259 5036</p>
        </div>
                
        <form class="form box-form-contact" id="contactForm">
                    
            <div class="box-input-form hidden">
                <span class="msg" id="msg">
                </span>
            </div>
                    
            <div class="box-input-form">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" placeholder="Nome"/>
            </div>

            <div class="box-input-form">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Email"/>
            </div>
                    
            <div class="box-input-form">
                <label for="conteudo">Conteudo</label>
                <textarea placeholder="Messagem" name="conteudo" id="conteudo"></textarea>
            </div>

            <div class="box-input-form">
                <button type="submit">Enviar</button>
                <button type="reset" id="reset" class="active">Limpar</button>
            </div>

        </form>

    </div>

</section>

<script src="/js/contacto/addForm.js"></script>